{% extends "base.html" %} 

{% block titulo %}Nosotros{% endblock %} 

{% block contenido %} 

<div class="card">
  <div class="card-header bg-danger">
    <h1 class="text-primary">Somos un mundo de diversión, aventuras y magia!<h1> 
  </div>
  <div class="card-body">
    <h4 class="card-title text-primary">Encuentra consejos útiles y reseñas para elegir las películas adecuadas para tus hijos</h4>
    <p class="card-text text-info">En nuestro sitio web, encontrarás una amplia selección de las mejores películas diseñadas especialmente para niños y familias.</p>
  </div>
  <div class="card-footer text-muted">
    <div class="mb-3">
      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Suscríbete a nosotros">
        
    </div>
    <input name="" id="" class="btn btn-outline-danger" type="button" value="Vamos!">
  </div>
</div>

{% endblock %}